@import "Theme/main.scss";

.component :global {
  position: relative;
  margin: 20px auto;

  pre {
    color: black;
    background: rgb(245, 242, 240);
    text-shadow: white 0px 1px;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    overflow-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
    padding: 1em;
    margin: 0.5em 0px;
    overflow: auto;
  }
  button {
    border: 0;
    color: #ddd;
    position: absolute;
    right: 10px;
    top: 5px;
    bottom: auto;
    outline: none !important;
    cursor: pointer;
    font-size: 14px;
    &:hover {
      color: #666;
    }
    &:active {
      border: 1px solid #666;
    }
    &.copy{
      right: 10px;
      &:active{
        right: 8px;
        top: 7px;
      }
    }
  }
  code {
    color: black;
  }
}
